
.page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page-container > section {
	display: flex;
}

.operation {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
    align-items: center;
	margin-bottom: 10px;
	padding-bottom: 10px;
	background: no-repeat 5% / 100% 100% url(HotNewLogo.svg.png);
}

.btn-layout {
	display: flex;
}

.work-timer {
	animation: blink-red 1s infinite;
  }

  .warning {
	/* position: fixed; */
  }
  
  .work-timer.warning {
	animation: blink-yellow 1s infinite;
  }
  
  @keyframes blink-red {
	0%, 50% {
	  background-color: red;
	  color: white;
	}
	25%, 75% {
	  background-color: inherit;
	  color: inherit;
	}
  }
  
  @keyframes blink-yellow {
	0%, 50% {
	  background-color: yellow;
	  color: black;
	}
	25%, 75% {
	  background-color: inherit;
	  color: inherit;
	}
  }